<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS intro for 187</title>
    <link rel="stylesheet" href = "../static/firstStyleSheetcss.css"
    
</head>

<body>
    <h1>CSS intro</h1>
    <p> this is the beging.. </p>
    <ol class="List1" > 
        <h1 class="List1"> TODO LIST</h1>
        <li class="List1" id = "main"> Downlowad GITHUB</li><br>
        <li class="List1">  SighUp for GITHUB</li><br>
        <li class="List1"> LockUp for 187 by baamail</li><br>
    </ol>
    <a href="https://www.google.com/search?q=ww.goo&oq=ww.goo&aqs=chrome..69i58j69i57j0i10i457i512j0i10i512j5i44j5i10i44l3.5421j0j7&sourceid=chrome&ie=UTF-8" target = "_blank" >Search in Google</a>
    <br>  
    <a href="https://moodle.bgu.ac.il/moodle/my/"> Search in BGU</a><br>
    <a href="https://www.w3schools.com/cssref/sel_visited.php" target="blank">W3</a>
</body>
</html>